@import 'variables';
@import 'mixin';

.header {
    background-color: $vanillaGrey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr 0.5fr;
    @include mediaQuery ($laptop) {
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
    }
    @include mediaQuery ($tablet) {
        grid-template-columns:  0.3fr 0.3fr 1fr 0.3fr 0.5fr;
    }
}

.logo-container{
    justify-self: end;
    align-self: center;
}
.logo {
    height: 10vh;
    width: 100px;
    @include mediaQuery ($tablet) {
        width:  80px;
    }
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-column-start: 3;
    justify-items: center;
}


.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    grid-column-start: 5;
}

.links > a {
	font-size: 30px;
    color: $scuffedDarkGrey;
    &:hover{
        color: $whiteIsh;
    }
    @include mediaQuery ($laptop) {
        font-size: 25px;
    }
   
}

.menu > a {
	font: 20px 'lato-bold', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: $scuffedDarkGrey;
    &:hover{
        color: $whiteIsh;
    }
    @include mediaQuery ($laptop) {
        font-size: 12px;
    }
}

