@import url('../css/fonts.css');
@import 'header';
@import 'variables';
@import 'home';
@import 'animate-text';
@import 'about';

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:$whiteIsh;
}

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

