@import url('../css/fonts.css');
@import 'header';
@import 'variables';
@import 'home';

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:$whiteIsh;
}

.grid {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

